@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-ubuntu rounded-md py-1.5 px-6 font-medium 
  cursor-pointer tracking-wide transition ease-in-out hover:scale-105 
  active:scale-90 duration-300
}

.btn-pink {
  @apply btn bg-pink text-white
}

.btn-white {
  @apply btn bg-white text-pink
}

.btn-green {
  @apply btn bg-green-500 text-purple-900
}

.card-white {
  @apply rounded-lg bg-white shadow-md py-8 px-4
}

.input-gray {
  @apply bg-gray-100 rounded-xl font-light py-2.5 px-5 my-6
  placeholder-transparent text-base 
}

.floating-label {
  @apply left-5 -top-1 font-light text-gray-500 text-base transition-all 
  peer-placeholder-shown:text-base peer-placeholder-shown:font-light
  peer-placeholder-shown:top-[34px] pointer-events-none
  peer-placeholder-shown:text-gray-400 
  peer-focus:left-5 peer-focus:-top-1 peer-focus:text-gray-600
  peer-focus:text-base 
}