@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-ubuntu rounded-md py-1.5 px-6 font-medium 
  cursor-pointer tracking-wide transition ease-in-out hover:scale-105 
  active:scale-90 duration-300
}

.btn-pink {
  @apply btn bg-pink text-white
}

.btn-white {
  @apply btn bg-white text-pink
}

.btn-green {
  @apply btn bg-green-300 text-purple-900
}

.card-white {
  @apply rounded-lg bg-white shadow-md py-8 px-4
}

.card-white-calculator {
  @apply rounded-lg bg-white shadow-md py-8 px-4

}

.input-gray {
  @apply bg-gray-100 rounded-xl font-light py-2.5 px-5 my-6
  placeholder-transparent 
}

.input-gray-select {
  @apply bg-gray-100 rounded-xl font-light py-2.5 pl-7 my-6 appearance-none
  w-[110px] px-1
}

.input-gray-display {
  @apply bg-gray-100 rounded-xl font-light py-2.5 px-5 text-center my-3 
}

.floating-label {
  @apply left-5 -top-1 font-light text-gray-500 text-base transition-all 
  peer-placeholder-shown:text-base peer-placeholder-shown:font-light
  peer-placeholder-shown:top-[34px] pointer-events-none
  peer-placeholder-shown:text-gray-400 
  peer-focus:left-5 peer-focus:-top-1 peer-focus:text-gray-600
  peer-focus:text-base 
}

.divide-line {
  @apply bg-slate-200 w-4/5 h-[1px] my-2.5 
}